<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">প্রোডাক্ট কোয়ান্টিটি তালিকা</h3>
      <hr>
      <button nz-button nzType="primary" routerLink="/product-quantity-create">
        <i nz-icon nzType="user-add" nzTheme="outline"></i> 
        প্রোডাক্ট কোয়ান্টিটি তৈরি করুণ
      </button>
    </div>
  </div>
  <div class="row justify-content-center align-content-center mt-3">
    <div class="col-md-10">
      <nz-table #nzTable [nzData]="productQuantities" nzTableLayout="fixed" nzBordered>
        <thead>
          <tr>
            <th nzCustomFilter>
              নাম
              <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th>প্রক্রিয়া</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.name }}</td>
            <td>
              <button nz-button nzType="primary" routerLink="/product-quantity-update/{{data.id}}">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                এডিট
              </button>
              <button nz-button nzType="primary" style="margin-left: 3px;" (click)="onClickProductQuantityDelete(data.id)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
                ডিলিট
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
              সার্চ করুণ
            </button>
            <button nz-button nzSize="small" (click)="reset()">রিসেট</button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>