<nav class="navbar navbar-expand-lg" 
  style="background-image: linear-gradient(to left, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <div class="container-fluid">
    <a class="navbar-brand">Suruchi Jewellers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/product-types">প্রোডাক্ট টাইপ</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/product-quantities">প্রোডাক্ট কোয়ান্টিটি</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/customers">কাস্টমার</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products">প্রোডাক্ট</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/profile">প্রোফাইল</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">লগ আউট</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>